---
import Layout from "../layouts/Layout.astro";
import PageCard from "../components/PageCard.astro";
import PartyMember from "../components/PartyMember.astro";

import tatyana from "../assets/wedding-party/taty.png";
import katie from "../assets/wedding-party/katie.png";
import lizzie from "../assets/wedding-party/lizzie.png";
import inez from "../assets/wedding-party/inez.png";
import olivia from "../assets/wedding-party/olivia.png";
---

<Layout>
    <PageCard
        title="Our Wedding Party"
        subtitle="The people standing by our side"
        maxWidth="900px"
    >
        <div class="party-list">
            <PartyMember 
                name="Tatyana" 
                role="" 
                blurb="" 
                image={tatyana} 
            />

            <PartyMember
                name="Katie"
                role=""
                blurb=""
                image={katie}
                reverse={true}
            />

            <PartyMember 
                name="Lizzie" 
                role="" 
                blurb="" 
                image={lizzie} 
            />

            <PartyMember
                name="Olivia"
                role=""
                blurb=""
                image={olivia}
                reverse={true}
            />

            <PartyMember 
                name="Inez" 
                role="" 
                blurb="" 
                image={inez} 
            />
        </div>
    </PageCard>
</Layout>

<style>
    .party-list {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
</style>
